.App{
    margin-top: 120px;
    font-family: 'Ubuntu', sans-serif;
    
}

.navbar{
    background-color: #1d66c8 !important;
    
}

.nav-text{
    font-size: 40px !important;
    font-family: 'Ubuntu', sans-serif;
}